<div>
  <img class='left' src='/img/pradip1.jpg' alt='Whole thing'/>
  <div class='left padded-left'>
    <h1>Pradip Gurung</h1>
    <br>
    <div>
      <strong>Origin:</strong>
      <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nepal</p>
    </div>
    <br>
    <div>
      <strong>Past experience:</strong>
      <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHP programming intern</p>
    </div>
    <br>
    <div>
      <strong>Expectations for the future:</strong>
      <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to build my own company</p>
    </div>
    <br>
    <div>
      <strong>What I liked and disliked on the block:</strong>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I liked how cool the lecturer was but I disliked waking up early for the class.</p>
  </div>
</div>

<div class="row">
<h2>Some of my Pictures<h2>
</div>
<div class='row'>
  <img src='/img/p10.jpg' atl='image0'/>
</div>
<div class='row'>
  <img src='/img/p13.jpg' atl='image2'/>
  <img src='/img/p8.jpg' atl='image3'/>
</div>
<div class='row'>
  <img src='/img/p12.jpg' atl='image4'/>
</div>
<div class='row'>
  <img src='/img/p11.jpg' atl='image1'/>
</div>
