<div>
  <img class='left' src='/img/1.jpg' alt='Whole thing'/>
  <div class='left padded-left'>
    <h1>Pradip</h1>
    <div>
      <strong>Origin:</strong>
      <span>Nepal</span>
    </div>
    <div>
      <strong>Past experience:</strong>
      <span>PHP programmer intern</span>
    </div>
    <div>
      <strong>Expectations for the future:</strong>
      <span>be Happy than ever</span>
    </div>
    <div>
      <strong>What I liked and disliked on the block:</strong>
      <p>I liked how cool you were about the class. And I disliked waking up early for the class.</p>  
  </div>
</div>
<div class='row'>
  <img src='/img/2.jpg'/>
  <img src='/img/3.jpg'/>
</div>
