<div>

<<<<<<< HEAD
<h1> Shahnoza  Muminzoda </h1>
<div class="hline">  </div>
<div  class="round">
</div>
<div class='right padded-right'>
=======
<<<<<<< Updated upstream
<img  class="left" src="../img/sh1.JPG">
=======
<img  class="left" src="/img/1.jpg">
>>>>>>> Stashed changes
<div class='left padded-left'>
<h1> About Shahnoza </h1>
>>>>>>> origin/pradips
      <div>
        Hello My Name is Shahnoza and I am from Tajikistan. I have graduated from Khujand Polytechnic Institute and continuing my Masters here in CZU.
        I have an exprience on banking sphere as methodologist.  

      <strong>Origin:</strong>
      <span>Tajikistan</span>
      </div>
      <div>
      <strong>Past experience:</strong>
      <span>Methodologist in bank of Tajikistan</span>
     </div>
      <div>
      <strong>Expectations for the future:</strong>
      <span>Learn front-end </span>
      </div>
      <div>
      <strong>What I liked and disliked on the block:</strong>
      <p>  I like the freedom given by teacher and that we can practice more than learn theory. I dislike 9am morning class, would be better to start at 10:00 :)</p>
    </div>
  </div>
  </div>
<div class='row'>
  <img src="../img/sh2.JPG">
  <img src="../img/sh3.JPG">
</div>
